:root {
  /* Fonts */
  --font-main: 'Poppins', sans-serif;
  --font-heading: 'Bebas Neue', sans-serif;

  /* Backgrounds */
  --color-bg-main: #222222;
  --color-bg-surface: #1C1C1C;
  --color-bg-card: #242424;

  /* Brand / Accent */
  --color-primary: #FF6A00;
  --color-primary-hover: #E85D00;
  --color-secondary: #ea751b;

  /* Text */
  --color-text-main: #FFFFFF;
  --color-text-secondary: #FF6A00;
  --color-text-muted: #B0B0B0;

  /* Borders */
  --color-border: #2C2C2C;
}

/* Global */
body {
  margin: 0;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: var(--font-main);
}

/* Headings use anime font */
h1, h2, h3, .heading-font {
  font-family: var(--font-heading);
  letter-spacing: 1px;
}

/* Buttons */
.btn-navbar {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  font-weight: 500;
  font-family: var(--font-main);
  transition: 0.2s ease;
}

.btn-navbar:hover {
  background-color: var(--color-primary-hover);
}

.card-text-bg{
  background-color: var(--color-primary);
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 26px;
  font-family: var(--font-main);
  transition: 0.2s ease;
}

.media-card {
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.media-card-image {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.media-card .media-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.media-card .media-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.8rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.media-card:hover {
  border: 5px solid var(--color-primary);
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.media-card:hover .media-img {
  transform: scale(1.1);
}

.media-card:hover .media-overlay {
  opacity: 1;
}